.about {
    padding: 34px 30px;
    background: rgb(255,255,255);
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(193,197,200,1) 54%, rgba(94,94,94,1) 100%);
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .about {
      padding: 3em 1em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
.about .about-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Прописать @media паддигги и нормальные рзамеры ез искажений */
.about .small-logo {
    width: 200px;
    max-width: 100%;
    margin-right: 3em;
}
.about .about-header h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.about .about-text p {
    color: black;
}