.content-gallery {
    padding: 34px 30px;
}
@media screen and (max-width: 768px) {
    .content-gallery {

    }
}
.gallery-wrapper {
}
.gallery-card {
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #e0e0e0;
    padding: 1rem;
    margin: 1rem 0;
}
.gallery-card img {
    height: 325px;
}
.gallery-card .card-dscr {
    margin: 0 0.25rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-starts;
}
.gallery-card .card-dscr h2 {
    align-self: center;
}
.gallery-card .card-dscr h3 {
    align-self: center;
}
.gallery-card .card-dscr p {
    margin: 0.25rem 0;
    text-indent: 1rem;
}